# GRADLE
.gradle
local.properties
**/build

# IDEA
.idea
*.iml

# MAC
.DS_Store

# Releases
lib_one/releases/debug/*.aar
!lib_one/releases/release/*.aar

#  MISCELÁNEA
administracion

# LOGS
logs/*

# ENTORNOS y PRUEBAS
# Certificate stores
lib_one/src/main/res/raw/*bks
# Parámetro PRO
lib_one/src/main/res/values/app_parameters.xml
# Configuración de entornos
terminal/*

