<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.didekindroid.lib_one">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <!-- Activity for UIException tests. -->
        <activity
            android:name=".api.ActivityMock"
            android:label="@string/mockActivity_label"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".api.InjectorParentViewerAc"
            android:label="@string/injectorParentViewerAc_label"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".api.ActivityNextMock"
            android:label="@string/mock_next_DefaultActivity_label"
            android:parentActivityName=".api.ActivityMock"
            android:launchMode="standard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".api.ActivityMock"/>
        </activity>
        <activity android:name=".api.ActivityDrawerMock"
                  android:label="@string/mock_activity_drawer_label"
                  android:launchMode="standard"
                  android:parentActivityName=".api.ActivityMock">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".api.ActivityMock"/>
        </activity>
    </application>
</manifest>