<manifest package="com.didekindroid.lib_one"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:theme="@style/themeOne">
        <!-- **************************************************************** -->
        <!-- ACCESORIO -->
        <!-- **************************************************************** -->
        <!-- Do nothing activity for non-null initialization in routers, mainly.-->
        <activity android:name="com.didekindroid.lib_one.util.MuteActivity"/>
        <!-- **************************************************************** -->
        <!-- ACCESORIO -->
        <!-- **************************************************************** -->
        <activity
            android:name=".accesorio.ConfidencialidadAc"
            android:label="@string/confidencialidad_ac_label"/>
        <!-- **************************************************************** -->
        <!-- USUARIO -->
        <!-- **************************************************************** -->
        <activity
            android:name=".usuario.DeleteMeAc"
            android:label="@string/delete_me_ac_label"/>
        <activity
            android:name=".usuario.LoginAc"
            android:launchMode="singleTop"
            android:label="@string/login_label"/>
        <activity
            android:name=".usuario.PasswordChangeAc"
            android:label="@string/password_ac_label"/>
        <activity
            android:name=".usuario.UserDataAc"
            android:label="@string/user_data_ac_mn"/>
    </application>
</manifest>
