<manifest package="com.didekindroid.lib_one"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:theme="@style/themeOne">
        <!-- **************************************************************** -->
        <!-- ACCESORIO -->
        <!-- **************************************************************** -->
        <!-- Do nothing activity for non-null initialization in routers, mainly.-->
        <activity android:name="com.didekindroid.lib_one.util.MuteActivity"/>
    </application>
</manifest>
